modules = ["nix", "nodejs-20", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 33119
externalPort = 80

[[ports]]
localPort = 33443
externalPort = 5173

[[ports]]
localPort = 34347
externalPort = 6800

[[ports]]
localPort = 38073
externalPort = 3000

[[ports]]
localPort = 39177
externalPort = 5000

[[ports]]
localPort = 41313
externalPort = 3001

[[ports]]
localPort = 42011
externalPort = 6000

[[ports]]
localPort = 43293
externalPort = 3003

[[ports]]
localPort = 43349
externalPort = 4200

[[ports]]
localPort = 43393
externalPort = 3002

[[ports]]
localPort = 43787
externalPort = 8099

[[ports]]
localPort = 44945
externalPort = 8008

[[ports]]
localPort = 45479
externalPort = 8081

[[ports]]
localPort = 45869
externalPort = 8000

[[ports]]
localPort = 46233
externalPort = 8080
